<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gewürzvorratsliste</title>
</head>
<body>
<p>Welche Gewürze gibt es noch??</p>
<div class="container">
  <div class="row">
    <div class="col-lg-10 mt-5 mb-5">
      <table id="example" class="table table-bordered" style="width: 100%">
        <thead>
        <tr>
          <th>Name</th>
          <th>vorrätig</th>
          <th>Menge</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Name</td>
          <td>Position</td>
          <td>Office</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>

</html>

